.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
}

.Nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Nav li {
  margin-right: 1rem;
}

.Nav a {
  display: block;
  padding: 1rem;
  color: #ccc;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.Nav a:hover,
.Nav a.active {
  background-color: #222;
}

.Nav a.active {
  color: white;
  font-weight: bold;
  letter-spacing: 0.01em;
  text-decoration: underline;
}

.Nav .version {
  margin: 0 1rem;
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.75rem;
}
.Nav .version span {
  display: block;
  text-align: center;
}
