.StoriesPreview {
  margin-bottom: 10rem;
}

.StoriesPreview > h2 {
  padding: 0.5rem;
  background-color: rgb(1, 33, 105);
  color: white;
}

.StoriesPreview > .SecondarySubHeadline {
  background-color: black;
}
